name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        features:
          - name: "default features"
            features: ""
          - name: "ssh2 + serde-xml"
            features: "--no-default-features --features ssh2,serde-xml"
          - name: "ssh2 + quick-xml"
            features: "--no-default-features --features ssh2,quick-xml"
          - name: "russh + serde-xml"
            features: "--no-default-features --features russh,serde-xml"
          - name: "russh + quick-xml"
            features: "--no-default-features --features russh,quick-xml"
          - name: "all features"
            features: "--all-features"

    steps:
    - uses: actions/checkout@v4
    - name: Build (${{ matrix.features.name }})
      run: cargo build --verbose ${{ matrix.features.features }}
    - name: Run tests (${{ matrix.features.name }})
      run: cargo test --verbose ${{ matrix.features.features }}
